.main_chat
  .main_chat__header
    .main_chat_header_left_box
      .main_chat_header_left_box__cullent_group
        = @group.name
      %ul.main_chat_header_left_box__member_list
        Member:
        %li.main_chat_header_left_box_member__list_member 
          - @group.group_users.each do |group_user|
            = group_user.user.name
    .main_chat_header_edit_btn
      = link_to 'Edit', edit_group_path(params[:group_id]),class:"Edit-link"

  .message
    =render @messages

  .message_form
    = form_for [@group,@message] do |f|
      .input_box
        = f.text_field :content,class: "input_box_text",placeholder: "type a message"
        = f.label :image, class: "input_box_image" do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: "input_box_image_file"
      = f.submit "Send", class: "submit_btn"